.env*
/services/backend/lipAdviser/
/services/frontend/ffoffa/

/services/database/mysql/local/db/*
!/services/database/mysql/local/db/.gitkeep

/services/database/mysql/dev/db/*
!/services/database/mysql/dev/db/.gitkeep

/services/database/mysql/prod/db/*
!/services/database/mysql/prod/db/.gitkeep
