.env*
/services/backend/lipAdviser/
/services/frontend/ffoffa/
/services/database/mysql/dev/**
/services/database/mysql/prod/**
!/services/database/mysql/dev/**/
!/services/database/mysql/dev/**/.gitkeep
!/services/database/mysql/prod/**/
!/services/database/mysql/prod/**/.gitkeep
